[Desktop Entry]
Version=1.0
Name=Jape
Comment=Jape proof editor for Linux
Exec=/home/richard/jape/distrib/CommonBuildResources/Linux/Jape.app/launchstub
Icon=/home/richard/jape/distrib/CommonBuildResources/Linux/Jape.app/Pics/japeicon.png
Terminal=false
Type=Application
Categories=Development
StartupWMClass=uk-org-jape-Jape

